@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #3caa53;
  --color-secondary: ;
  --color-gray: #efefef;
  --color-element-bg: #fbfbfb;

  --color-accent: #4bbe64;
}

*{
  font-family: "Poppins";
  box-sizing: border-box;
}

h1{
  font-size: 20pt;
  font-weight: 600;
}
h2{
  font-size: 18pt;
  font-weight: 500;
}

main{
  display: flex;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.Toastify{
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;

  input:not([type="submit"]):not([type="checkbox"]), textarea{
    background-color: var(--color-element-bg);
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--color-gray);
    min-width: 300px;
    width: 100%;
  }

  input:not([type="submit"]):focus, input:not([type="submit"]):hover, textarea:hover{
    border: 1px solid var(--color-accent);
  }
}

input:disabled, button:disabled{
  opacity: 0.8;
}

.grad-green-to-right{
  background: linear-gradient(to right, var(--color-primary), var(--color-accent));
}