main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    input[type="text"],input[type="password"]{
        padding: 10px;
        outline: none;
        border: solid #ebebeb 1px;
        border-radius: 10px;
    }

    input[type="submit"]{
        margin-top: 30px;
        outline: none;
        border: none;
        background-color: #2a9c4c;
        color: #fff;
        padding: 10px;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
    }
}